.summary-table {
  width: 100%; }
  .summary-table tr {
    border-bottom: solid 1px #c0c0c0; }
    .summary-table tr th,
    .summary-table tr td {
      padding: 12px 20px; }
    .summary-table tr td span {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: block;
      text-align: center;
      line-height: 20px; }
  .summary-table .__no-data {
    border-bottom: none; }
  .summary-table tr:nth-child(1) td:first-child span {
    background-color: #ffd700;
    color: #fff; }
  .summary-table tr:nth-child(2) td:first-child span {
    background-color: #c0c0c0;
    color: #fff; }
  .summary-table tr:nth-child(3) td:first-child span {
    background-color: #cd7f32;
    color: #fff; }
