.wrapper-bid-cards {
  padding: 0 30px;
}
.grid-bid-cards {
  display: grid;
  grid-row-gap: 25px;
}

.card {
  border-radius: 8px;
  overflow: hidden;
  background: white;
  text-align: center;
  padding: 1.7em 1.5em;
  position: relative;
}
.card:before {
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.card-title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #142850;
  font-size: 0.9em;
  font-weight: 900;
  padding-bottom: 1em;
}
.card-title img {
  margin-right: 5px;
}

.card-followers-number {
  font-size: 30px;
  font-weight: 700;
}
.card-followers-title {
  display: block;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1em;
  padding-top: 1em;
}

.card-today img {
  margin-right: 5px;
}

@media screen and (min-width: 480px) {
  .grid-bid-cards {
    /* border: 1px solid purple; */
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 25px;
  }
  .wrapper-bid-cards {
    max-width: 1440px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .grid-bid-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1024px) {
  .grid-bid-cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
