.total-auction-container__card {
  background-color: #1366c4 !important; }

.total-auction-container .ui.card,
.total-auction-container .ui.cards > .card {
  width: 236px !important; }

.statistic-total-auction-label {
  color: #fff !important; }

.statistic-total-auction-value {
  color: #fff !important; }

.auction-step-feed-event:hover {
  background-color: aliceblue !important; }

.auction-step-feed-event__label {
  width: 8em !important; }
  .auction-step-feed-event__label--text {
    color: #fff;
    background-color: #1366c4;
    max-width: 100%;
    border: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    transition: box-shadow 0.1s ease, transform 0.1s ease;
    display: flex;
    height: 80%;
    text-align: center;
    align-items: center;
    justify-content: center; }

.auction-step-card-footer:hover {
  cursor: pointer; }

@media (min-width: 1200px) {
  .total-auction-container {
    justify-content: space-between; } }

.auction-step-card-container {
  overflow: auto;
  max-height: 140px;
  cursor: pointer; }
  .auction-step-card-container::-webkit-scrollbar {
    width: 4px;
    height: 4px; }
  .auction-step-card-container::-webkit-scrollbar-thumb {
    background: #1366c4 !important;
    border-radius: 4px; }
  .auction-step-card-container::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); }
  .auction-step-card-container ::-webkit-scrollbar-thumb:active {
    background-color: #a80505; }
  .auction-step-card-container::-webkit-scrollbar-track {
    background: none; }
