.file-list {
  padding-top: 30px;
  text-align: left;
}

.file-item {
  padding: 5px;
}

.file-item:hover {
  cursor: pointer;
  color: green;
}

.file-item .file-icon {
  width: 20px;
  height: 20px;
}

.file-item .delete-icon {
  width: 20px;
  height: 20px;
  float: right;
}

.file-item .delete-icon:hover {
  cursor: pointer;
}
