.pro-sidebar {
  color: #fff;
}

.pro-sidebar > .pro-sidebar-inner {
  background: linear-gradient(to bottom, #00acee, #1366c4);
  height: 100vh;
}

.pro-sidebar
  .pro-menu.shaped
  .pro-menu-item
  > .pro-inner-item
  > .pro-icon-wrapper {
  background-color: #1366c4;
}

.pro-sidebar .pro-menu > ul > .pro-sub-menu > .pro-inner-list-item {
  background-color: #1366c4;
}

.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item
  .pro-inner-item:before {
  border: 1px solid #fff;
}

.sidebar-image-container {
  border-radius: 12px;
  width: 60px;
  height: 60px;
  padding: 2px;
  margin-right: 15px;
  overflow: hidden;
  &__logo {
    object-fit: cover;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

.sidebar-image-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  &__upload {
    height: 0;
    overflow: hidden;
    width: 0;
  }
  &__label {
    background-color: #fff;
    border-radius: 12px;
    border: dashed 2px #1366c4;
    color: #1366c4;
    cursor: pointer;
    outline: none;
    width: 60px;
    height: 60px;
    position: relative;
    transition: all 0.2s;
    vertical-align: middle;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sidebar-image-container:hover {
  cursor: pointer;
}

.sidebar-user-information-container {
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 160px;
  &__name {
    text-transform: capitalize;
  }
  &__email {
    font-size: 14px;
  }
}

.sidebar-header {
  color: white;
  text-align: center;
  display: flex;
  &__logo {
    padding-right: 15px;
  }
}

.sidebar-options {
  cursor: pointer;
  align-items: center;
  padding: 10px 0px 10px 20px;
  margin-left: 4px;
  display: flex;
  color: white;
  min-width: 211px;
}

.sidebar-options:hover {
  background: #37bdf1;
  border-radius: 10px;
  transition: 200ms ease-out;
}

.option-title {
  padding-left: 1em;
}
