.sidebar-menu {
  position: fixed;
  min-height: 100%;
  width: 200px;
  background: linear-gradient(to bottom, #00acee, #13abc4);
}

.sidebar-header {
  color: white;
  text-align: center;
  margin-left: 1em;
}

.sidebar-options {
  cursor: pointer;
  align-items: center;
  padding: 10px 16px 10px 20px;
  margin-left: 4px;
  display: flex;
  color: white;
  min-width: 211px;
}

.sidebar-options:hover {
  background: #37bdf1;
  border-radius: 10px;
  transition: 200ms ease-out;
}

.option-title {
  padding-left: 1em;
}
