.native-clock {
     background: linear-gradient(to bottom right, #EDBC67, #FB9705);
      /* background: linear-gradient(to bottom right, #95B195, #5D9C5A); */
    /* color: #355A2F; */
    border-radius: 10px;
    height: 150px;
    width: 100;
}

.local-time{
    color: #C05929
}

.clock-time {
    letter-spacing: 2px;
    color: #F5540B;
}